{% extends 'base.html.twig' %}

{% block body %}

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            {%  include('MpGithubBundle:Default:navigation.html.twig') %}
        </div>
        <div class="col-md-8">
            {% block content %}
                <h2>Simple github tool</h2>
                <h3><i class="fa fa-chevron-right" aria-hidden="true"></i> Functionality allows:</h3>
                <ul>
                    <li>Adding a file to a repository</li>
                    <li>Editing a file in a repository</li>
                    <li>Removing a file from repository</li>
                    <li>Creating Merge Request</li>
                    <li>Listing all files</li>
                </ul>
                <h3><i class="fa fa-chevron-right" aria-hidden="true"></i> Repo used in tool:</h3>
                <a href="//github.com/piontuso/repo"><i class="fa fa-book" aria-hidden="true"></i> piontuso/repo</a>
                <div class="repos">
                    <a href="//github.com/piontuso/repo">Test repo</a>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
