{% extends 'base.html.twig' %}

{% block body %}
<div class="row contact">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Kontakt</h1>
        </div>
        <div class="row">
            <label class="col-md-4">E-mail:</label><span class="col-md-8"><a href="mailto:piontuso@gmail.com"><i class="fa fa-paper-plane" aria-hidden="true"></i>piontuso@gmail.com</a></span>
        </div>
        <div class="row">
            <label class="col-md-4">Telefon:</label><span class="col-md-8"><a href="tel:665727991"><i class="fa fa-phone" aria-hidden="true"></i>665727991</a></span>
        </div>
        <div class="row">
            <label class="col-md-4">Linkedin:</label>
            <p class="text-left col-md-8">
                <a href="https://pl.linkedin.com/pub/maciej-pi%C4%85tek/b0/188/287" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="Wyświetl profil LinkedIn użytkownika Maciej Piątek" style="vertical-align:middle;" border="0">&nbsp;Wyświetl profil użytkownika Maciej Piątek</span></a>
            </p>
            </div>
        <div class="row">
            <label class="col-md-4">Facebook:</label>
            <p class="text-left col-md-8">
                <!-- Facebook Badge START --><a href="https://www.facebook.com/maciej.piatek.37" title="Maciej Pi&#x105;tek" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Maciej Piątek</a><span style="font-family: &#039;lucida grande&#039;,tahoma,verdana,arial,sans-serif;font-size: 11px;line-height: 16px;font-variant: normal;font-style: normal;font-weight: normal;color: #555555;text-decoration: none;">&nbsp;|&nbsp;</span><a href="https://www.facebook.com/badges/" title="Utw&#xf3;rz w&#x142;asn&#x105; wizyt&#xf3;wk&#x119;!" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Utwórz swoją wizytówkę</a><br /><a href="https://www.facebook.com/maciej.piatek.37" title="Maciej Pi&#x105;tek" target="_TOP"><img class="img" src="https://badge.facebook.com/badge/100000293974337.2879.1800249907.png" style="border: 0px;" alt="" /></a><!-- Facebook Badge END -->
            </p>
        </div>
    </div>
</div>
{% endblock %}
