<footer class="footer">
    <div class="container">
        <p class="text-center">Copyright 2016 <i class="fa fa-copyright" aria-hidden="true"></i> <a href="http://maciejpiatek.pl">maciejpiatek.pl</a>.</p>
    </div>
</footer>
<script src="{{ asset('js/javascript.js') }}"></script>
<script>
    GHRepos.create('.repos a')
</script>
</body>
</html>