<footer class="footer">
    <div class="container">
        <p class="text-center">Copyright 2016 © <a href="http://maciejpiatek.pl">maciejpiatek.pl</a>.</p>
    </div>
</footer>
<script src="{{ asset('js/javascript.js') }}"></script>
</body>
</html>