{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h2>Welcome to my website!</h2>
        </div>
    </div>
{% endblock %}
