{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Witaj na mojej stronie kontaktowej!</h1>
            </div>
            <p>Opis strony w przygotowaniu... proszę o cierpliwość :)</p>
        </div>
        <div class="col-md-12">
            <h5>Strona wykonana w oparciu o framework:</h5>
            <a href="http://symfony.com/"><img width="400" height="100" src="{{ asset('img/symfony_black_02.png') }}" /></a>
        </div>
    </div>
{% endblock %}
